<div class="mat-elevation-z2"
    style="position:relative;background-color:rgb(103,58,183);color:white;box-sizing:border-box;padding:4px;height:100%;width:48px;margin-right:4px">
    <button mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>view_column</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>group_work</mat-icon>
    </button>
    <button mat-icon-button (click)="new()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="search()">
        <mat-icon>search</mat-icon>
    </button>
</div>