<mat-card style="padding:0px 8px 0px 8px; display:flex;align-items: baseline;margin-bottom: 8px;">
    <mat-form-field appearance="standard" style="margin:-16px 0px -8px 0px;flex-grow: 1;">
        <mat-chip-list aria-label="Search">
            <mat-chip color="primary" selected>
                <mat-icon style="margin-left:-6px;margin-right:4px">group_work</mat-icon>
                Hello World
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-chip-list>
        <mat-icon matSuffix color="primary">done_all</mat-icon>
    </mat-form-field>
</mat-card>