<div class="p-d-flex p-flex-column" *ngIf="workItem != null && propertyDescriptors != null"
    style="max-width: 768px;margin-left:auto;margin-right:auto">

    <div class="p-d-flex p-mb-2 p-mt-2">
        <p-button icon="pi pi-save" styleClass="p-button-sm p-mr-2" (click)="save()"></p-button>

        <span class="p-buttonset p-ml-auto p-button-sm">
            <p-button *ngFor="let cmd of commandDescriptors" [label]="cmd.label" icon="pi pi-check"
                styleClass="p-button-sm" (click)="executeCommand(cmd)">
            </p-button>
        </span>
        <p-button icon="pi pi-times" styleClass="p-button-danger p-button-sm p-ml-2" (click)="close()"></p-button>
    </div>

    <vwi-work-item-property *ngFor="let property of workItem.properties"
        [propertyDescriptor]="getDescriptor(property.name)" [propertyValue]="property">
    </vwi-work-item-property>
</div>