<div *ngIf="workItem != null && propertyDescriptors != null"
    style="max-width: 768px;margin-left:auto;margin-right:auto">

    <mat-card style="background-color:#FAFAFA;">
        <mat-card-header>
            <mat-icon mat-card-avatar style="font-size:36px">bug_report</mat-icon>
            <mat-card-title>{{workItem.workItemType}} {{workItem.id}}</mat-card-title>
            <mat-card-subtitle>{{workItem.projectCode}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button *ngIf="saveButtonEnabled == true" mat-button color="primary" (click)="save()">
                <mat-icon>save</mat-icon> Save
            </button>
            <button *ngFor="let cmd of commandDescriptors" mat-button color="accent" (click)="executeCommand(cmd)">
                <mat-icon>done</mat-icon> {{cmd.label}}
            </button>
        </mat-card-actions>
        <mat-card-content>
            <vwi-work-item-property *ngFor="let property of workItem.properties"
                [propertyDescriptor]="getDescriptor(property.name)" [propertyValue]="property">
            </vwi-work-item-property>
        </mat-card-content>
    </mat-card>
</div>